<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
  <h1> Joukkorahoitus </h1>
  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}

  <p>
    <a href="/find_item">Etsi kampanja</a>
    <a href="/register">Luo tunnus</a>
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
  </p>

  {% if session.user_id %}
  <p>
    <a href="/new_item">Uusi Kampanja</a>
  </p>
  {% endif %}

  <h2>Kampanjat</h2>
  <ul>
    {% for item in items %}
    <li><a href="/item/{{ item.id }}">{{ item.title }}<a/></li>
    {% endfor %}
  </ul>
</body>

</html>
