<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1> Joukkorahoitus </h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}

  <p>
    <a href="/">Etusivu</a> |
  {% if session.user_id %}
    <a href="/user/{{ session.user_id }}">Oma profiili</a> |
  {% endif %}
    <a href="/find_item">Etsi kampanja</a> |
  {% if session.user_id %}
    <a href="/new_item">Uusi Kampanja</a> |
    <a href="/logout">Kirjaudu ulos</a> 
  {% else %}
    <a href="/register">Luo tunnus</a> |
    <a href="/login">Kirjaudu sisään</a>
  {% endif %}
  </p>
  {% for message in get_flashed_messages() %}
  <div class="info">
    <b>{{ message }}</b>
  </div>
  {% endfor %}

  {% block content %}{% endblock %}
</body>

</html>
