{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
{% if session.user_id == item.user_id %}
<p>
  <a href="/edit_item/{{ item.id }}">Muokkaa</a>
  <a href="/remove_item/{{ item.id }}">Poista</a>
  <a href="/images/{{ item.id }}">Kuvat</a>
</p>
{% endif %}
{% for image in images %}
<img src="/image/{{ image.id }}" />
{% endfor %}

<p>
  {{ item.description }}
</p>
<p>
  Tavoitesumma: {{ item.target_sum }} €
</p>
{% if donations %}
<p>
  Rahaa kerätty: {{ donations_sum }} €
</p>
{% if distance > 0 %}
<p>
  Matkaa tavoitesummaan: {{ distance }} €
</p>
{% else %}
<p>
  Tavoite saavutettu!
</p>
{% endif %}
{% endif %}
{% if category %}
<p>
  Kampanjan kategoria: {{ category }}    
</p>
{% endif %}
<p>
  Kampanjan perustaja: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
</p>
<h3>Lahjoitukset</h3>
{% if donations %}
<ul>
  {% for donation in donations %}
  <li>{{ donation.amount }} €, <a href="/user/{{ donation.id }}">{{ donation.username }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>Ei vielä yhtään lahjoitusta</p>
{% endif %}
{% if session.user_id %}
<h3>Uusi lahjoitus</h3>
<form action="/create_donation" method="post">
  Määrä:
  <p>
    <input type="number" name="donation_amount" min="0.05" step="0.05" size="8" required />€
    <input type="submit" value="Lahjoita" />
  <p/>
  <input type="hidden" name="item_id" value="{{ item.id }}" />
</form>
{% endif %}
{% endblock %}